body{
    background:dimgray;
    padding: 0;
    
}

header{
    background-color:dimgray;
    color:black;
    text-align: center;
    margin: 0 400px;
    border: 1px solid black;
    border-radius: 25px ;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 600;
    font-style: normal;
}

header > h1 {
    transform: rotate(-1.5deg);
    text-decoration: underline overline;

}

.cabecalho {
    background-color:darkgray;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    }
    
.lista-tarefas {
    background-color:darkgray;
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    margin: 5px 0 5px 0;
    }

.total-tarefas{
        margin: 15px;
        border-bottom: 1px solid black;
    }

main {
    font-family: "Protest Revolution", sans-serif;
    background-color:darkgray;
    text-align: center;
    margin: 0 400px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
    /* transform: rotate(1.5deg); //rotaciona o main */
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        padding:0;
    }    
    
    li {
        display: flex;
        justify-content: space-between; 
        border-radius: 25px;
        padding: 5px 10px;
    }
    
    li:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    label:hover {
        cursor: pointer;
    }

    #tituloTarefa, #categoria-da-tarefa, #btnAdicionarTarefa{
        border-radius: 45px;
    }

    #categoria-da-tarefa:hover{
        background-color: #8fbc8f;
        border-radius: 45px;
        cursor: pointer;
    }

    #btnAdicionarTarefa:hover{
        background-color: #8fbc8f;
        border-radius: 45px;
        cursor: pointer;
    }

    .btn-cancel{
        border-radius: 45px;
    }
    
    .btn-cancel:hover {
        background-color: #FBCFCF;
        color: red;
        cursor: pointer;
        border: 2px solid red;
        border-radius: 45px;
    }
    
    span {
        text-align: left;
    }

    // comentado para utilizar utilizando a function marcarTarefa() no script
    /* input:checked + .checkbox-wrapper {
        text-decoration: line-through;
        color: red;
    } */